body {
    text-align: center;
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
    user-select: none; /* supaya tidak highlight teks saat geser */
    margin: ;
}

h1 {
    margin-top: 20px;
}

canvas {
    background-color: black;
    border: 2px solid #fff;
    margin-top: 10px;
    touch-action: none; /* penting untuk kontrol swipe */
}

.score {
    font-size: 20px;
    margin-top: 10px;
}
